body {
	background-image: linear-gradient(#ffffff ,#ffffff );
	height: auto;
            background-attachment: fixed;
            background-size: cover;
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
a:link {
  color: #cc0e20;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #cc0e20;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #990e1b;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #d13242;
  background-color: transparent;
  text-decoration: underline;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  border-right: 1px solid #cfcdc8;
}

li:last-child {
  border-right: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
  .active {
  background-color: #04AA6D;
}
}
}